<!DOCTYPE html>
<!--
  description  
  @author EMP 2023/09/08 9:20 
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <!-- &lt;!&ndash; 引入样式 &ndash;&gt; -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <!-- &lt;!&ndash; 引入组件库 &ndash;&gt; -->
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
</head>
<body>
    <h1 th:text="${message}">Welcome to index page</h1>
</body>
</html>